h1{ 
    text-align: center;
}

.wrapper{
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
}

body {
    background-color: lightgray

}
#display{
    width: 100%;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
margin-top:10px;
margin-bottom: 10px

}